* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    background: #081b29;
    color: #ffffff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    align-items: center;
   margin-top: 0px;
   background:  #081b29;
   z-index: 1;
   height: 150px;
}

.navbar {
    margin-left: 600px;
}

.navbar a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    margin-left: 35px;
    transition: 1.2s;
    
}

.navbar a:hover,
.navbar a.active {
    color:#5cb0ec4d;

}

.intro {
    position: relative;
}

.headingint {
    position: absolute;
    left: 650px;
    top: 170px;
    text-shadow: 1px 1px 10px white;
}

.vdo {
    position: absolute;
    top: 90px;
    left: -390px;
    width: 1000px;
    height: 500px;
}
